<li class="issue {{if isDone "done"}}" ondblclick={{action 'toggleEdit'}} >
  {{input type="checkbox" name="done" checked=isDone onclick=(action 'toggleDone')}}
  {{#if isEdit}}
    {{input class="edit" name="title" value=issue.title
            focus-out=(action 'toggleEdit')}}
  {{else}}
    <span>{{issue.title}}</span>
  {{/if}}
  <a href="#" class="delete" deleteIssue=deleteIssue onclick={{action 'deleteIssue'}}>X</a>
  <!-- {{#if user.isAdmin}} -->
  <!-- {{/if}} -->
</li>
